/* Start Custom CSS file */

/* Custom Fonts */
@font-face {
  font-family: FiraSans-Light;
  src: url(fira_sans/FiraSans-Light.ttf);
}
.firasans-lt {
	font-family: FiraSans-Light, Helvetica, Arial, sans-serif;
}
@font-face {
  font-family: FiraSans-Medium;
  src: url(fira_sans/FiraSans-Medium.ttf);
}
.firasans-md {
	font-family: FiraSans-Medium, Helvetica, Arial, sans-serif;
}
@font-face {
  font-family: FiraSans-Regular;
  src: url(fira_sans/FiraSans-Regular.ttf);
}
.firasans-rg {
	font-family: FiraSans-Regular, Helvetica, Arial, sans-serif;
}

/* Start of selector classes */
body {
	background-color: #171922;
	font-family: FiraSans-Regular, Helvetica, Arial, sans-serif;
}
header {
	font-family: FiraSans-Light, Helvetica, Arial, sans-serif;
}
footer {
	font-family: FiraSans-light, Helvetica, Arial, sans-serif;
	background: linear-gradient(#171922, #151621);
}

.underlined-animate {
	position: relative;
}

.underlined-animate::after {
	content: "";
	position: absolute;
	width: 100%;
	margin-bottom: -2px;
	height: 2px;
	bottom: 0;
	left: 0;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}

.underlined-animate:hover::after {
	visibility: visible;
	transform: scaleX(1);
	background-color: #99746F;
}


/*Start of Custom Clases */

.hello-h1 {
	font-family: FiraSans-Medium, Arial, Helvetica, sans-serif; 
	background: linear-gradient(#99746F, #14151E);
	-webkit-text-fill-color: transparent; 
	-webkit-background-clip: text; 
}
.jd-text-colour {
	color: #99746F;
}