/* Start Custom CSS file */

/* Custom Fonts */
@font-face {
  font-family: FiraSans-Light;
  src: url(fira_sans/FiraSans-Light.ttf);
}
.firasans-lt {
  font-family: FiraSans-Light, Helvetica, Arial, sans-serif;
}
@font-face {
  font-family: FiraSans-Medium;
  src: url(fira_sans/FiraSans-Medium.ttf);
}
.firasans-md {
  font-family: FiraSans-Medium, Helvetica, Arial, sans-serif;
}
@font-face {
  font-family: FiraSans-Regular;
  src: url(fira_sans/FiraSans-Regular.ttf);
}
.firasans-rg {
  font-family: FiraSans-Regular, Helvetica, Arial, sans-serif;
}

/* Start of selector classes */

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aa655e;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b85050;
  transition: ease-in;
}

body {
  background-color: #1a1c26;
  font-family: FiraSans-Regular, Helvetica, Arial, sans-serif;
}
header {
  font-family: FiraSans-Light, Helvetica, Arial, sans-serif;
}

footer {
  font-family: FiraSans-light, Helvetica, Arial, sans-serif;
}

hr {
  border: 0px;
  height: 3px;
  background: linear-gradient(270deg, #3e00ff, #3d39e6);
  background-size: 400% 400%;

  -webkit-animation: hr-gradient 30s ease infinite;
  -moz-animation: hr-gradient 30s ease infinite;
  -o-animation: hr-gradient 30s ease infinite;
  animation: hr-gradient 30s ease infinite;
}

@-webkit-keyframes hr-gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes hr-gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-o-keyframes hr-gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes hr-gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

a {
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  width: 100%;
  margin-bottom: -2px;
  height: 2px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

a:hover::after {
  visibility: visible;
  transform: scaleX(1);
  background-color: #99746f;
}

/*Start of Custom Clases*/

.intro-text-fade {
  opacity: 0;
  animation: text-fade 1500ms ease-in-out  forwards;
}

/* Need to add 5500ms delay to above when you restart the loader */

@keyframes text-fade {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  
}

.about-me {
  background-color: rgba(17, 24, 39, 0.9);
}

.about-me-bg {
  background-image: url("../images/aboutme-bg.svg");
  background-attachment: scroll;
  object-fit: fill;
  animation: about-me-transition 1000ms forwards ease-in;
}

@keyframes about-me-transition {
  0% {
    visibility: hidden;
    transform: translateX(0);
    opacity: 0;
  }

  100% {
    visibility: visible;
    transform: translateX(1);
    opacity: 1;
  }
}

.item-fadein {
  opacity: 0;
  animation: text-fade 3s ease-in-out forwards;
}

/* Need to add 7000ms delay to above when you restart the loader */

@keyframes item-fade {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  
}

.hide-a:hover::after {
  visibility: visible;
  transform: scaleX(0);
  background-color: #99746f;
}

.insta-bg-g {
  background: rgb(48, 66, 236);
  background: linear-gradient(
    232deg,
    rgba(48, 66, 236, 1) 0%,
    rgba(238, 86, 49, 1) 56.99999999999999%,
    rgba(246, 192, 83, 1) 100%
  );
}

.jd-text-colour {
  color: #aa655e;
}

.hello-h1 {
  font-family: FiraSans-Medium, Arial, Helvetica, sans-serif;
  color: #aa655e;
}

.wordCarousel div {
  overflow: hidden;
  position: relative;
  float: right;
  height: 65px;
  padding-top: 10px;
  margin-top: -10px;
}
.wordCarousel li {
  padding: 0 10px;
  height: 45px;
  margin-bottom: 40px;
  display: block;
}

.flip2 {
  animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite ;
}
.flip3 {
  animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}
.flip4 {
  animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
  animation-delay: 4.5s;
}

@keyframes flip2 {
  0% {
    margin-top: -180px;
  }
  5% {
    margin-top: -90px;
  }
  50% {
    margin-top: -90px;
  }
  55% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@keyframes flip3 {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@keyframes flip4 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}


/* Loader background */
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  transition: 2s all ease-in-out;
}

.loader-wrapper-background {
  background: linear-gradient(45deg, #292e45, #1a1c26, #292e45, #1a1c26);
  background-size: 800% 800%;

  -webkit-animation: loaderAnimation 12s ease infinite;
  -moz-animation: loaderAnimation 12s ease infinite;
  -o-animation: loaderAnimation 12s ease infinite;
  animation: loaderAnimation 12s ease infinite;
  animation-fill-mode: forwards;
}

@-webkit-keyframes loaderAnimation {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
@-moz-keyframes loaderAnimation {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
@-o-keyframes loaderAnimation {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
@keyframes loaderAnimation {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}

/* Text */
#textLoader {
  animation: move-preloader 5s ease-out;
  animation-fill-mode: forwards;
}

@keyframes move-preloader {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50%{
    transform: translateY(0);
  }
  100% {
    transform: translateY(-43vh);
  }
}

.loader-wrapper::-webkit-scrollbar {
  display: none;
}

/* Applied to DOM using js*/
.fade-loader {
  animation: fade-preloader 2s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fade-preloader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
